PUBLIC_IP_ADDR=65.245.45.221

POSTGRES_PASSWORD=password
POSTGRES_USER=synapse
POSTGRES_DATABASE=synapse

FULL_DOMAIN=messenger.shabalinas.com
CERT_PATH=/etc/letsencrypt/live/messenger.shabalinas.com
TURN_RANDOM_SECRET=ce329047c2e1ee560e7c2bbf44df01b3839e3b5f94dc10579813f2a340f5a59b

PGADMIN_DEFAULT_EMAIL=mail@gmail.com
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_PREFIX=c74a7883-92d3-4954-83f5-d9397c843875

GRAFANA_USER=user
GRAFANA_PASSWORD=password
GRAFANA_PATH_PREFIX=47d26996-0725-4b28-a191-3d49c0b02f47