listening-port=3478
tls-listening-port=5349

listening-ip=0.0.0.0
relay-ip={{ PUBLIC_IP_ADDR }}
external-ip={{ PUBLIC_IP_ADDR }}
realm={{ FULL_DOMAIN }}

fingerprint
use-auth-secret
lt-cred-mech
static-auth-secret={{ TURN_RANDOM_SECRET }}

user-quota=12
total-quota=1200

min-port=49152
max-port=65535

cert=/etc/letsencrypt/live/{{ FULL_DOMAIN }}/fullchain.pem;
pkey=/etc/letsencrypt/live/{{ FULL_DOMAIN }}/privkey.pem;

verbose
log-file=/var/log/turnserver/turnserver.log

no-loopback-peers
no-multicast-peers

denied-peer-ip=0.0.0.0-0.255.255.255
denied-peer-ip=10.0.0.0-10.255.255.255
denied-peer-ip=172.16.0.0-172.31.255.255
denied-peer-ip=192.168.0.0-192.168.255.255